:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  ::ng-deep tui-calendar-sheet [data-type="today"]::before {
    background-color: var(--tui-chart-categorical-09);
  }
}

.header {
  border-bottom: 1px solid #c9c9c9;
  padding: 4px 0 10px 0;

  .current-program-name {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }

  .program-range {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .select-program {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 10px;

    tui-select {
      flex: 1;
    }
  }
}

.calendar {
  width: 100%;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 10px;

  .no-calendar-placeholder {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-wrapper {
    display: flex;
    justify-content: center;
  }

  .today {
    &-plans {
      width: 100%;
      height: 220px;
      flex: 1 0 auto;

      display: flex;
      align-items: center;
      gap: 4px;

      overflow-y: auto;

      background-color: var(--tui-status-positive-pale-hover);
    }
    &-training {
      border-radius: 10px;
      height: 100%;
      width: 100%;

      padding: 4px;

      overflow-y: auto;

      &-name {
        font-size: 16px;
        font-weight: 700;

        margin-bottom: 12px;
      }

      &-exercise {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        .sets-reps {
          display: flex;
          align-items: center;
          gap: 4px;
        }

        .name {
          font-weight: 600;
        }
      }
    }

    &-exercises {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.go-train {
  height: 60px;

  border-top: 1px solid #c9c9c9;
  padding: 10px 0 4px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.start-training-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;

  .actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    width: 100%;

    button {
      width: 100%;
    }
  }
}

.new-training-wrapper {
  height: 90vh;
  width: 100%;
}
