<ion-content class="root">
  <ion-content class="ion-padding">Главная страница</ion-content>

  <ion-footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="muscle_groups" href="/muscle_groups">
          <ion-icon aria-hidden="true" name="triangle"></ion-icon>
          <ion-label>Мышечные группы</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="app_settings" href="/app_settings">
          <ion-icon aria-hidden="true" name="square"></ion-icon>
          <ion-label>Приложение</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>
</ion-content>
