<div class="create-training-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="tui-text_h3 title">Создание тренировки</h2>

    <div class="tui-form__row">
      <tui-textfield>
        <label tuiLabel>Название тренировки</label>

        <input tuiTextfield formControlName="name" />
      </tui-textfield>
    </div>

    <div class="tui-form__row">
      <div class="exercises-header">
        <h3 class="tui-text_h4">Упражнения</h3>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          iconStart="@tui.plus"
          (click)="addExercise()"
        >
          Добавить
        </button>
      </div>

      <div formArrayName="trainingExercises" class="exercises-list">
        <div
          *ngFor="let exerciseForm of trainingExercises.controls; let i = index"
          [formGroupName]="i"
          class="exercise-form"
        >
          <div class="exercise-form__content">
            <div class="exercise-form__select">
              <tui-select
                formControlName="exercise"
                [stringify]="stringifyExercise"
              >
                Упражнение
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="exercises"
                  [itemContent]="stringifyExercise | tuiStringifyContent"
                />
              </tui-select>

              <button
                tuiButton
                type="button"
                appearance="outline-destructive"
                size="l"
                iconStart="@tui.trash"
                [disabled]="trainingExercises.length === 1"
                (click)="removeExercise(i)"
              ></button>
            </div>

            <div class="exercise-form__numbers">
              <tui-textfield>
                <label tuiLabel>Подходы</label>

                <input tuiInputNumber formControlName="sets" />
              </tui-textfield>

              <tui-textfield>
                <label tuiLabel>Повторения</label>

                <input tuiInputNumber formControlName="reps" />
              </tui-textfield>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button
        tuiButton
        type="button"
        appearance="flat"
        size="m"
        class="tui-space_right-3"
        (click)="onCancel()"
      >
        Отмена
      </button>
      <button
        tuiButton
        type="submit"
        appearance="primary"
        size="m"
        [disabled]="form.invalid"
      >
        Создать
      </button>
    </div>
  </form>
</div>
