.root {
  display: flex;
  flex-direction: column;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;

  margin: 10px;

  header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}
