<ul class="root">
  <li *ngFor="let exercise of exercises()">
    <div tuiAppearance="floating" tuiCardLarge class="tui-space_top-4">
      <header tuiHeader>
        <h2 tuiTitle>{{ exercise.name }}</h2>
        <aside tuiAccessories>
          <tui-badge appearance="neutral" size="l">
            <app-muscle-group-icon
              *ngFor="let muscle_group of exercise.muscleGroups"
              [group]="muscle_group.id"
            />
          </tui-badge>
        </aside>
      </header>

      <section>{{ exercise.description }}</section>
    </div>
  </li>
</ul>
