<ul class="root">
  <tui-swipe-actions
    *ngFor="let exercise of exercises()"
    [style.--t-actions-width]="136"
  >
    <div class="island exercise-item">
      <header>
        <h6 class="tui-text_h6">{{ exercise.name }}</h6>
        <aside tuiAccessories>
          <tui-badge appearance="neutral" size="l">
            <app-muscle-group-icon
              *ngFor="let muscle_group of exercise.muscleGroups"
              [group]="muscle_group.id"
            />
          </tui-badge>
        </aside>
      </header>

      <p>{{ exercise.description }}</p>
    </div>

    <button
      appearance="outline"
      iconStart="@tui.pencil-line"
      size="m"
      tuiIconButton
      tuiSwipeAction
      type="button"
      (click)="onEditButtonClick(exercise)"
    >
      Edit
    </button>
    <button
      appearance="outline-destructive"
      iconStart="@tui.trash"
      size="m"
      tuiIconButton
      tuiSwipeAction
      type="button"
      (click)="onDeleteButtonClick(exercise)"
    >
      Delete
    </button>
  </tui-swipe-actions>
</ul>
