:host {
  display: contents;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form__footer {
  height: 44px;
}

.exercises {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 0 6px;
}

.exercises-list {
  overflow-y: auto;
}

.exercise-form {
  padding: 0;

  ::ng-deep.t-header {
    padding: 2px 1.25rem !important;
  }
}

.sets {
  margin-top: 15px;
}

.sets-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.set {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.set-number {
  width: 20px;
  flex-shrink: 0;
}

.rest-field {
  width: 100%;
}
