<div class="statistics-container">
  <div class="island">
    <span class="label">Всего подходов (текущая программа)</span>
  </div>

  <div class="island stat-block">
    <span class="label">
      Выполнение нагрузки по весам (текущая программа)
    </span>
    <span class="value">100%</span>
  </div>

  <div class="island stat-block">
    <span class="label">
      Выполнение нагрузки по подходам (текущая программа)
    </span>
    <span class="value">100%</span>
  </div>

  <div class="island">
    <span class="label">График прогрессии весов (всё время)</span>
  </div>
  <div class="island">
    <span class="label">График повторений (всё время)</span>
  </div>
</div>
