.statistics-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 4px;
}

.row {
  display: flex;
  gap: 10px;
}

.stat-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}

.label {
  font-weight: 700;
  font-size: 16px;
}
