<tui-root>
  <tui-loader *ngIf="!isDatabaseInitialized" [overlay]="true"></tui-loader>
  <ng-container *ngIf="isDatabaseInitialized">
    <div class="root">
      <tui-app-bar class="header">Repeat App</tui-app-bar>
      <main class="main"><router-outlet></router-outlet></main>
      <nav tuiTabBar class="tabs" [(activeItemIndex)]="activeItemIndex">
        <button
          *ngFor="let tab of tabs"
          tuiTabBarItem
          type="button"
          [icon]="tab.icon"
          (click)="onTabClick(tab)"
        >
          {{ tab.label }}
        </button>
      </nav>
    </div>
  </ng-container>
</tui-root>
