<div *ngIf="isDatabaseInitialized">
  <ion-app>
    <ion-menu contentId="app">
      <ion-header>
        <ion-toolbar>
          <ion-title>Меню</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-menu (navigationEnd)="closeMenu()"></app-menu>
      </ion-content>
    </ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Repeat02</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="app" class="main-content">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ion-app>
</div>
<div *ngIf="!isDatabaseInitialized">Подключение БД</div>
