.root {
  display: flex;
  flex-direction: column;

  ::ng-deep .t-header {
    padding: 0px 6px !important;
  }
}

.card {
  margin: 1rem 0.7rem;
}

.exercise {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  padding: 10px;
}

.exercise-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  margin-left: 8px;

  .subtitle {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 4px;

    padding-bottom: 4px;

    border-bottom: 1px solid #dfdfdf;
  }

  .sets-list {
    display: grid;
    gap: 4px;
    .set {
      display: grid;
      grid-template-columns: 30px 70px 100px 100px;

      tui-badge {
        width: 100%;
      }
    }
  }
}

.set {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exercises-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
