<ion-content class="ion-padding">
  <app-exercises-list />
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button id="open-modal-new-exercise">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal-new-exercise">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
              <ion-icon name="backspace-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Новое упражнение</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-create-edit-exercise-form
          (afterSubmit)="modal.dismiss()"
        ></app-create-edit-exercise-form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
