<form tuiForm="l" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
  <header tuiHeader>
    <h3 tuiTitle>Новое упражнение</h3>
  </header>

  <tui-textfield>
    <label tuiLabel>Название</label>
    <input
      formControlName="name"
      placeholder="Введите название упражнения"
      tuiTextfield
    />
  </tui-textfield>

  <tui-multi-select
    formControlName="muscleGroups"
    [stringify]="stringifyMuscleGroup"
    [tuiTextfieldLabelOutside]="true"
  >
    Выберите мышечные группы
    <tui-data-list-wrapper
      *tuiDataList
      tuiMultiSelectGroup
      [items]="muscleGroups"
      [itemContent]="stringifyMuscleGroup | tuiStringifyContent"
    />
  </tui-multi-select>

  <tui-textfield>
    <label tuiLabel>Описание</label>
    <input
      formControlName="description"
      placeholder="Опишите упражнение"
      tuiTextfield
    />
  </tui-textfield>

  <footer>
    <button tuiButton type="submit">Создать</button>
    <button appearance="flat" tuiButton type="button">Отмена</button>
  </footer>
</form>
