<ion-content class="ion-padding">
  <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
        formControlName="name"
        labelPlacement="floating"
        label="Название"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        multiple="true"
        formControlName="muscleGroups"
        [cancelText]="i18n.CANCEL"
        labelPlacement="stacked"
        label="Мышечные группы"
        placeholder="Мышечные группы"
      >
        <ng-container *ngFor="let muscleGroup of muscleGroups">
          <ion-select-option value="{{ muscleGroup.id }}">{{
            muscleGroup.name
          }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-textarea
        formControlName="description"
        labelPlacement="floating"
        label="Описание"
      ></ion-textarea>
    </ion-item>

    <div class="button-container">
      <ion-button type="submit" expand="block" [disabled]="!exerciseForm.valid">
        Создать
      </ion-button>
    </div>
  </form>
</ion-content>
