<section class="root">
  <app-training-list />

  <button
    tuiButton
    appearance="accent"
    class="fab"
    size="l"
    (click)="openCreateTrainingDialog(createTrainingForm)"
  >
    <tui-icon icon="@tui.plus"></tui-icon>
  </button>

  <ng-template #createTrainingForm let-observer>
    <app-create-training-form
      style="padding: 50px 0px"
      (afterSubmit)="observer.complete()"
      (afterCancel)="observer.complete()"
    ></app-create-training-form>
  </ng-template>
</section>
